{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "arrow-body-style": "off",
    "function-paren-newline": "off",
    "linebreak-style": 0,
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "no-mixed-operators": [
        "error",
        {
            "groups": [
                ["&", "|", "^", "~", "<<", ">>", ">>>"],
                ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
                ["&&", "||"],
                ["in", "instanceof"]
            ],
            "allowSamePrecedence": true
        }
    ]
  },
  "settings": {
      "import/resolver": {
          "webpack": {
              "config": "webpack.config.js"
          }
      }
  }
}
